* {
    margin: 0px;
    padding: 0px;
    
}
/* Navigation */
#navi ul li {
    display: inline-block;
    margin: 25px 10px;
    list-style: none;
}

#navi ul {
    text-align: center;
}

#navi ul li a {
    text-decoration: none;
    color: rgb(255, 251, 251);
    transition: border-bottom 0.5s;
}
/* #navi ul li a:hover {
    color: rgb(107, 170, 111);
} */
#navi #menu a:hover {
    color: lightgray;
    border-bottom: 1px solid white;
}
#navi h1 {
    text-align: center;
    color: white;
    margin-top: 55px;
    font-size: 50px;
}
/* #navi h1:hover {
   color: rgb(135, 209, 150);
} */
#navi .logos {
    text-align: center;
    margin-top: 10px;
}
#navi .logos ul li a {
    box-sizing: border-box;
    font-size: 1.3rem;
    margin: 0px 1px;
    border-radius: 50%;
    padding: 10px;
}
.logos ul li a:hover {
    box-shadow: 0px 0px 6px 4px rgb(192, 183, 183);
    font-size:larger ;
}
#navi::before {
    content: "";
    position: absolute;
    background: url(./image/macbook_mouse.jpg) no-repeat center center/cover;
    width: 100%;
    height: 370px;
    z-index: -1;
    opacity: .75;
}
#navi .myimg img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 0px 4px 3px white;
}
#navi .myimg {
    text-align: center;
}
/* About section */
#about {
    margin-top: 30px;
    text-align: center;
    width: 100%;
}
#about p {
    display: inline-block;
    width: 80%;
}
#about strong {
    font-size: 1rem;
    color: blue;
}
/* Skill Section */
#skill {
    width: 70%;
    height: auto;
    margin: 8rem auto;
}
#skill #heading {
    text-align: center;
}
#skill #heading #skill_logo {
    font-size: 40px;
    color: blue;
}
#skill #heading p {
    display: inline-block;
    font-size: 35px;
    margin-left: 15px;
    color: blue;
    font-weight: bold;
}
.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
}
.skillprocess {
    width: 150px;
    height: 30px;
    background-color: lightgray;
    border-radius: 20px;
    margin: 10px;
}
.skillname {
    height: inherit;
    border-radius: 20px 0px 0px 20px;
}
.blue {
    background-color: rgb(64, 64, 75);
    width: 80%;
}
.red {
    background-color: rgb(0, 216, 195);
    width: 60%;
}
.yellow {
    background-color: rgb(235, 117, 97);
    width: 90%;
}
.green {
    background-color: violet;
    width: 100%;
    border-radius: 20px;
}
.orange {
    background-color: chartreuse;
    width: 40%;
}
.violet {
    background-color: cyan;
    width: 50%;
}
.hp {
    background-color: limegreen;
    width: 66%;
}
span {
    padding-left: 10px;
    color: white;
    font-weight: bold;
}
/*Work Experience*/
#work {
    margin: 5%;
    width: 90%;
}
#work_head {
    width: 25em;
    margin: 0px auto;
}
#work_head p {
    font-size: 2.5rem;
    display: inline-block;
    color: blue;
}
#work_head h2 {
    color: blue;
    font-size: 2.5em;
    margin-left: 1rem;
    display: inline-block;
}
.logo {
    width: 4em;
    height: 4em;
}
.items {
    position: relative;
}
.member {
    position: relative;
    margin: 6%;
    width: 40%;
    height: 25%;
}
.member .head {
    display: inline-block;
    text-align: right;
    margin-left: 55%;
    margin-bottom: 5%;
}
.member .head h3{
    margin-bottom: 4%;
}
.member:nth-child(2n) {
    left: 50%;
}
.timeline {
    position: absolute;
    width: 0px;
    height: 82%;
    top: 1%;
    left: 50%;
    border: 2px dashed cyan;
}
.timeline p {
    color: blue;
    font-size: 1.7em;
    transform: rotate(90deg);
    position: sticky;
    top: 2%;
    z-index: 1;
}
.member:nth-child(2n)::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 11px;
    left: -15.5%;
    top: 7%;
    z-index: 1;
    height: 11px;
    border-radius: 50%;
    background: lightgray;
}
.member:nth-child(2n-1)::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 11px;
    height: 11px;
    left: 109.3%;
    z-index: 1;
    border-radius: 50%;
    background: lightgray;
}
/*Education*/
#education {
    margin-top: 150px;
    position: relative;
    background: rgb(231, 231, 231);
    height: auto;
}
#education_logo {
    display: inline-block;
    color: blue;
    font-size: 40px;
}
#education_head {
    text-align: center;
}
#education_head h2 {
    display: inline-block;
    font-size: 35px;
    margin-left: 15px;
    color: blue;
    font-weight: bold;
}
#edu_member {
    padding: 5px;
    position: relative;
    width: 300px;
    height: auto;
    /* border: 2px solid blue; */
}
#edu_member:nth-child(2n-1) {
    margin-left: 319px;
    margin-top: 35px;
}
#edu_member:nth-child(2n) {
    left: 55%;
}
#edu_member:nth-child(2n-1)::after {
    content: '';
    position: absolute;
    background: lightgray;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    right: -15%;
    top: -2%;
    z-index: 1;
}
#edu_member:nth-child(2n)::before {
    content: '';
    position: absolute;
    background: lightgray;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: -25%;
    top: -2%;
    z-index: 1;
}
#edu_member .head {
    display: inline-block;
    margin-left: 4rem;
}
#edu_member .logo {
    display: inline-block;
    width: 40px;
    height: 40px;
}
#edu_member .head {
    /* text-align: right; */
    margin-bottom: 20px;
}
#edu_member .head h3 {
    display: inline-block;
    color: blue;
}
#edu_member .head div {
    margin-top: 8px;
    font-weight: bold;
    color: orangered;
}
#edu_member .head #date {
    margin-top: 0;
    font-weight: bold;
    color: gray;
}
.edu_timeline p {
    color: blue;
    font-size: 2rem;
    transform: rotate(90deg);
    position: sticky;
    top: 10%;
    z-index: 1;
}
.edu_timeline {
    padding: 0px;
    position: absolute;
    height: 68%;
    width: 0;
    border: 2px dashed cyan;
    top: 10%;
    right: 50%;
}
/*Portfoilo*/
#portfolio .img_port {
    margin: 50px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#portfolio .head_port {
    text-align: center;
    font-size: 1.7rem;
    color: blue;
    margin-top: 7rem;
}
#portfolio h2 {
    display: inline-block;
}
#portfolio p {
    font-size: 2rem;
    display: inline-block;
    margin: 2rem;
}
#portfolio img {
    width: 300px;
    height: 300px;
}
/*Contact Us*/
#contact {
    position: relative;
    ;
}
#contact .head_contact {
    color: blue;
    /* text-align: center; */
    margin-top: 100px;
    margin: auto;
    width: 300px;
}
#contact .head_contact p {
    display: inline-block;
    font-size: 40px;
    margin: 10px;
}
#contact .head_contact h2 {
    display: inline-block;
    font-size: 30px;
    width: 200px;
    margin: 10px;
}
#contact #form {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top right, rgb(73, 73, 240), rgb(240, 155, 240));
    padding: 20px;
    height: 300px;
    margin: 0px 50px;
    margin-bottom: 20px;
}
#contact div {
    position: relative;
    /* ; */
    margin: 10px;
    margin-left: 20px;
    width: 100px;
}
#contact div:nth-child(5) {
    top: -440px;
    left: 55%;
}
#contact div:nth-child(4) {
    top: -140px;
    left: 55%;
}
#contact label {
    display: block;
}
#contact input, textarea {
    background: lightgray;
    border-radius: 20px;
    padding: 7px;
}
#contact #form .line {
    position: absolute;
    height: 300px;
    width: 0px;
    left: 45%;
    top: 20%;
    border-left: 2px dashed white;
}
#contact #form .submit {
    position: absolute;
    top: 80%;
}
#contact #form .submit button {
    height: 30px;
    width: 65px;
    padding: 5px;
    border-radius: 40px;
    background: lightgray;
    cursor: pointer;
}